<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tenant.guardts.house"
    android:versionCode="2"
    android:versionName="1.0.2" >

        <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="22" />
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="tenant.guardts.house.download.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="tenant.guardts.house.download.permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED" />
    <uses-permission android:name="tenant.guardts.house.download.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    
      <!-- 百度地图使用 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="false"
            android:resizeable="true"
            android:smallScreens="true" />

    <application
        android:name="tenant.guardts.house.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_house"
        android:label="@string/app_name"
         >
   <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fmntWH7DXloP8Tt7jU2kPPAp6ni9OuCi" />
<!--            <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="jUaEdfyiueCf9OdbKkbxoAgCGDhrGDYU" /> -->
        <activity
            android:name="tenant.guardts.house.WelcomeActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name" >
            <intent-filter>
                
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tenant.guardts.house.SurfaceViewTestActivity"
			android:screenOrientation="sensorLandscape"
            android:configChanges="keyboardHidden|orientation|screenSize" >
           
        </activity>
        
        <activity
            android:name=".GalleryActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        
        <activity
            android:name=".SelectShowCityActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        
        <activity android:name="tenant.guardts.house.DownloadAppActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme"></activity>
        
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name="tenant.guardts.house.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        
    <activity  
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:name=".HouseDetailInfoActivity" />
        
    	<activity 
           android:windowSoftInputMode="adjustUnspecified|stateHidden" 
           android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
           android:name=".AddHouseInfoActivity" />
       <activity  
           android:windowSoftInputMode="adjustUnspecified|stateHidden"
           android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
           android:name=".AddRentAttributeActivity" />
       
       <activity
            android:name=".ImageGridActivity" android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar"
            >
        </activity>

        <activity
            android:name=".SelectPhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".PhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".AlbumActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ImageFile"
            android:theme="@android:style/Theme.NoTitleBar"
            >
        </activity>
        <activity
            android:name=".ShowAllPhoto" 
            android:theme="@android:style/Theme.NoTitleBar"
            >
        </activity>
        
        <activity  
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:name=".HouseSearchActivity" />
        
        <activity  
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:name=".HouseHistoryActivity" />
            
        <activity  
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:name=".RegisterUserActivity" />
        <activity  
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:name=".RegisterUserStep1Activity" />
		 <activity  
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:name=".RegisterUserStep2Activity" />
		 
		 <activity  
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:name=".RegisterUserStep3Activity" />
        <activity  
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:name=".RegisterUserFinishActivity" />
        
        <activity  
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:name=".RentToHouseActivity" />
        <activity 
            android:windowSoftInputMode="adjustUnspecified|stateHidden" 
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:name=".ModifyPasswordActivity" />
        <activity 
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            android:name=".LoginUserActivity" />
        
        <activity  
           android:windowSoftInputMode="adjustUnspecified|stateHidden"
           android:theme="@android:style/Theme.NoTitleBar"
           android:screenOrientation="portrait"
           android:name=".HomeActivity" />
        
        <activity  
           android:windowSoftInputMode="adjustUnspecified|stateHidden"
           android:theme="@style/AppTheme"
           android:screenOrientation="portrait"
           android:name=".GetRentAttributeActivity" />
        
        <activity  
           android:windowSoftInputMode="adjustUnspecified|stateHidden"
           android:theme="@style/AppTheme"
           android:screenOrientation="portrait"
           android:name=".SurroundResultActivity" />
        
        <activity  
           android:windowSoftInputMode="adjustUnspecified|stateHidden"
           android:theme="@style/AppTheme"
           android:screenOrientation="portrait"
           android:name=".SurroundMoreActivity" />
        
        <activity
            android:name="tenant.guardts.house.LocationDemo"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="sensor" >
        </activity>
        
		<activity 
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:name=".LoadUrlTestActivity"></activity> 
        
        <provider
            android:name="tenant.guardts.house.download.DownloadProvider"
            android:authorities="tenant.guardts.house.download" />

        <service android:name="tenant.guardts.house.download.DownloadService" />

        <receiver
            android:name="tenant.guardts.house.download.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        	<!-- 百度地图部分 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        
        <!-- 识别部分 -->
         <service android:name="com.oliveapp.camerasdk.MediaSaveService" />
        <activity android:name="com.gzt.faceid5sdk.ImageCaptureActivity"></activity>
        <activity android:name="com.gzt.faceid5sdk.LivenessDetectionActivity"></activity>
        
    </application>

</manifest>
